$bg_header: #111863;
$bg_main: #222755;
$light: #8195cf;
$red: #fc4692;
$icon: #6563ff;
// $icon-hover: #adabfc;
$icon-hover: #adabfce6;


// ---------- for testing -----------

$test-p: pink;
$test-b: blue;
$test-v: violet;
$test-bi: bisque;
$test-lg: lightgreen;
$test-g: gray;
$test-y: yellow;
