extends components/layout

block content
  main.main
    h1.hidden About me
    section.section.about
      .about__block
        p Hello, I am Marika.
        p I live in Odesa, Ukraine.
        p I like sea, cats and dance :)
        p I like game, friends and play with my friends :)
        br
        p Also I like create beautiful websites.
        p If you have an interesting idea, contact me, I will help you make it :)
    section.section.skills
      h2.skills__h2 My proffesional skills
      .skills__block
        ul.skills__ul
          li.skills__li HTML, CSS
          li.skills__li SCSS
          li.skills__li Bootstrap, Tailwind
          li.skills__li Wordpress
          li.skills__li SVG
          li.skills__li animation
            br
            span ----------
          li.skills__li JavaScript
          li.skills__li jQuery
        ul.skills__ul
          li.skills__li adaptive
          li.skills__li cross-brauser
          li.skills__li optimization
          li.skills__li BEM
          li.skills__li pug
          li.skills__li gulp
          li.skills__li git
