extends components/layout

block content
  main.main
    h1.hidden Home page
    section.cards

      article.card
        a(href="https://marika-7.github.io/elmi-redesign/")
          h2.card__title Business Websites
        a.card__link(href="https://marika-7.github.io/elmi-redesign/") 
          img.card__img(src="images/project_elmi.webp", alt="Business Websites")
          //- h2.card__title Company website
        //- p.card__description Description

      article.card
        a(href="https://monosushi-a36be.web.app/")
          h2.card__title Online restaurant
        a.card__link(href="https://monosushi-a36be.web.app/") 
          img.card__img(src="images/project_tomatina.webp", alt="Online restaurant")
        //- p.card__description Description

      article.card
        a(href="https://tomatina-3c277.web.app/")
          h2.card__title Online restaurant
        a.card__link(href="https://tomatina-3c277.web.app/") 
          img.card__img(src="images/project_monosushi.webp", alt="Online restaurant")
        //- p.card__description Description

      article.card
        a(href="calculator/calc.html" target="_blank")
          h2.card__title Calculator
        a.card__link(href="calculator/calc.html" target="_blank") 
          img.card__img(src="images/project_calculator.webp", alt="Calculator")
          //- h2.card__title Company website
        //- p.card__description Description

      article.card
        a(href="puzzle/puzzle.html" target="_blank")
          h2.card__title Puzzle
        a.card__link(href="puzzle/puzzle.html" target="_blank") 
          img.card__img(src="images/project_puzzle.webp", alt="Puzzle")
        //- p.card__description Description

      article.card
        a(href="clock/clock.html" target="_blank")
          h2.card__title Clock
        a.card__link(href="clock/clock.html" target="_blank") 
          img.card__img(src="images/project_clock.webp", alt="Clock")
        //- p.card__description Description
