footer.footer 
  .contact
    //- a(href="marika.sohomonian@gmail.com")
      svg.contact__svg
        use(href="images/sprite.svg#email")
    a(href="https://github.com/Marika-7" target="_blank")
      svg.contact__svg
        use(href="images/sprite.svg#github")
    a(href="https://www.linkedin.com/in/marika-sohomonian-66900b218/" target="_blank")
      svg.contact__svg
        use(href="images/sprite.svg#linkedin")
    a(href="https://t.me/Marika_7" target="_blank")
      svg.contact__svg
        use(href="images/sprite.svg#telegram")
