header.header
  p.title Hello, I am 
    span.h1_name Marika
nav
  ul.nav
    li.nav__item 
      a.nav__link(href='about.html') About me 
    li.nav__item
      a.nav__link(href='index.html') My projects 
    //- li.nav__item
      a.nav__link(href='test.html') Blog 
  //- button.mobile-menu
    svg.sprite 
      use(href="./images/sprite.svg#menu")
